*{
    /*样式初始化*/
    margin: 0;
    padding: 0;
}
body{
    padding: 10px 0;
    font-family: 幼圆;
}

.wrapper{
    width: 640px;
    border: 1px solid #cccccc;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
}
.top{
    border: solid 1px #333;
    overflow: hidden;

}
.shortcut{
    width: 100px;
    height: 100px;
    float: left;
}
.headword{
    width: 520px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    float: left;

}
.aside-left{
    height: 420px;
    margin-top: 10px;
    border: solid 1px #333;
    float: left;
    font-size: 20px;
    line-height: 3em;
}

.main{
    font-size: 14.7px;
    text-indent: 2em;
    letter-spacing: normal;
    line-height: 2em;
    float: left;
    border: 1px solid #cccccc;
    width: 480px;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 10px;/*上下边距为1.5字符，左右为0*/
}

h1{
    font-size: 20px;
    font-weight:normal;
    text-align: center;
    margin: 10px 0 20px;/*上边距10 左右0下边距20*/
}
.foot{font-size: 8px;
    text-align: center;

}
h1+p{
    border-top: 1px #ccc;
    border-bottom: 1px #cccccc;
    padding: 10px 0;
    color: #40ff4a;
    font-size: 12px;
}
.sum{
    color: red;
}
ul{
    list-style-type: none;/*取消列表前的点*/
}

a{
    color: #2c2266;
    text-decoration: none;/*取消下划线*/
}
a:hover{
    color: #210066;
    text-decoration: underline;/*重新有下划线*/
}
